.startPage {
  background-color: rgba(1, 22, 39, 1);
  height: 100%;
  width: 100%;
  overflow: hidden;
  &_container {
    max-width: 1500px;
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  .leftContainer {
    &_textWrap {
      &_hello {
        font-weight: 450;
        font-size: 18px;
        line-height: 24px;
        color: #e5e9f0;
        margin-bottom: 8px;
      }
      &_myName {
        font-weight: 400;
        font-size: 62px;
        line-height: 81px;
        color: #e5e9f0;
      }
      &_progName {
        font-weight: 450;
        font-size: 32px;
        line-height: 42px;
        color: #4d5bce;
        margin-bottom: 61px;
        overflow: hidden;
        border-right: 0.15em solid rgb(96, 123, 150);
        white-space: nowrap;
        -webkit-animation: typing 5s steps(50, end) forwards;
        animation: typing 5s steps(50, end) forwards;
        font-size: 1.6rem;
        width: 0;
        @-webkit-keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 330px;
          }
        }
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 330px;
          }
        }
      }
      &_hint {
        font-weight: 450;
        font-size: 16px;
        line-height: 21px;
        color: #607b96;
        margin-bottom: 30px;
      }
      &_downloadCv {
        text-decoration: none;
        font-weight: 450;
        font-size: 16px;
        width: 150px;
        height: 45px;
        padding: 8px 15px;
        background: linear-gradient(
          149deg,
          rgba(24, 187, 156, 1) 0%,
          rgba(106, 57, 175, 1) 42%,
          rgba(187, 24, 148, 1) 72%,
          rgba(115, 53, 134, 1) 100%
        );
        border-radius: 50px;
        color: black;
        -webkit-animation: gradient 10s infinite linear;
        animation: gradient 4s infinite linear; // 10s - скорость анимации
        background-size: 400%; // Можно менять и подбирать интенсивность
        @-webkit-keyframes gradient {
          0% {
            background-position: 80% 0%;
          }
          50% {
            background-position: 20% 100%;
          }
          100% {
            background-position: 80% 0%;
          }
        }
        @keyframes gradient {
          0% {
            background-position: 80% 0%;
          }
          50% {
            background-position: 20% 100%;
          }
          100% {
            background-position: 80% 0%;
          }
        }
      }
    }
  }
  .rightContainer {
    &_graph {
      position: absolute;
      width: 418px;
      height: 454px;
      left: 856.08px;
      top: 87px;
      background: #43d9ad;
      opacity: 0.4;

      -webkit-filter: blur(100px);
      filter: blur(100px);
      transform: rotate(-94.3deg);
    }
    &_graph2 {
      position: absolute;
      width: 426px;
      height: 323px;
      left: 800.16px;
      top: 206.65px;
      background: #4d5bce;
      opacity: 0.4;
      -webkit-filter: blur(100px);
      filter: blur(100px);
      transform: rotate(13.51deg);
    }
  }
}
p {
  margin: 0;
}
.cub {
  margin: 0 15px;
}
@media (max-width: 2560px) {
}
@media (max-width: 1440px) {
  .rightContainer {
    &_graph {
      top: 111px;
      width: 27% !important;
      height: 56% !important;
      left: 55% !important;
    }
    &_graph2 {
      top: 246px;
      width: 26% !important;
      height: 52% !important;
      left: 67% !important;
    }
  }
}
@media (max-width: 1200px) {
  .leftContainer_textWrap {
    &_hello {
      font-size: 16px !important;
    }
    &_myName {
      font-size: 52px !important;
    }
    &_progName {
      font-size: 25px !important;
    }
    &_hint {
      font-size: 16px !important;
    }
    &_graph {
      left: 800px;
    }
    &_graph2 {
      left: 1200px;
    }
  }
}
@media (max-width: 1024px) {
  .leftContainer_textWrap {
    &_hello {
      font-size: 15px !important;
    }
    &_myName {
      font-size: 45px !important;
    }
    &_hint {
      font-size: 14px !important;
    }
    &_downloadCv {
      font-size: 16px !important;
    }
  }
}
@media (max-width: 856px) {
  .startPage_container {
    margin: 0px 18px !important;
    width: 100% !important;
  }
  .leftContainer_textWrap {
    &_hello {
      font-size: 16px !important;
    }
    &_myName {
      font-size: 68px !important;
    }
    &_progName {
      font-size: 25px !important;
    }
    &_hint {
      display: none;
    }
  }
  .cub {
    display: none;
  }
  .rightContainer {
    &_graph {
      top: 111px;
      width: 30% !important;
      height: 56% !important;
      left: 30% !important;
    }
    &_graph2 {
      top: 246px;
      width: 27% !important;
      height: 49% !important;
      left: 60% !important;
    }
  }
}
@media (max-width: 768px) {
  .startPage_container {
    margin: 0px 18px !important;
    display: flex;
    justify-content: center;
  }
  .leftContainer_textWrap {
    &_hello {
      font-size: 20px !important;
      line-height: 24px !important;
      margin-bottom: 20px !important;
    }
    &_myName {
      width: 340px !important;
      font-size: 62px !important;
      line-height: 100% !important;
      margin-bottom: 30px !important;
    }
    &_progName {
      font-size: 25px !important;
      line-height: 30px !important;
      color: #43d9ad !important;

      @-webkit-keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 320px;
        }
      }
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 320px;
        }
      }
    }
    &_downloadCv {
      display: none;
    }
  }
  .rightContainer {
    &_graph {
      top: 111px;
      width: 24% !important;
      height: 56% !important;
      left: 35% !important;
    }
    &_graph2 {
      top: 246px;
      width: 27% !important;
      height: 49% !important;
      left: 53% !important;
    }
  }
}
@media (max-width: 576px) {
  .leftContainer_textWrap {
    &_myName {
      width: 350px !important;
      font-size: 62px !important;
      margin-bottom: 25px !important;
    }
    &_progName {
      font-size: 22px !important;
      color: #43d9ad !important;
      @-webkit-keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 320px;
        }
      }
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 280px;
        }
      }
    }
  }
  .rightContainer {
    &_graph {
      top: 111px;
      width: 27% !important;
      height: 56% !important;
      left: 30% !important;
    }
    &_graph2 {
      top: 246px;
      width: 27% !important;
      height: 49% !important;
      left: 50% !important;
    }
  }
}
@media (max-width: 450px) {
  .leftContainer_textWrap {
    &_myName {
      width: 350px !important;
      font-size: 58px !important;
      margin-bottom: 30px !important;
    }
    &_progName {
      font-size: 22px !important;
      color: #43d9ad !important;
    }
  }
}
@media (max-width: 375px) {
  .leftContainer_textWrap {
    &_hello {
      font-size: 18px !important;
      margin-bottom: 15px !important;
    }
    &_myName {
      font-size: 55px !important;
      margin-bottom: 20px !important;
    }
    &_progName {
      font-size: 20px !important;
      color: #43d9ad !important;
      @-webkit-keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 255px;
        }
      }
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 255px;
        }
      }
    }
  }
  .rightContainer {
    &_graph {
      top: 111px;
      width: 35% !important;
      height: 50% !important;
      left: 30% !important;
    }
    &_graph2 {
      top: 246px;
      width: 35% !important;
      height: 55% !important;
      left: 50% !important;
    }
  }
}
@media (max-width: 321px) {
  .leftContainer {
    width: 90%;
    display: flex;
  }
  .leftContainer_textWrap {
    &_hello {
      margin-bottom: 15px !important;
    }
    &_myName {
      width: 100%;
      font-size: 45px !important;
      margin-bottom: 20px !important;
    }
    &_progName {
      font-size: 18px !important;
      line-height: 26px !important;
      color: #43d9ad !important;
      @-webkit-keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 245px;
        }
      }
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 230px;
        }
      }
    }
  }
}
