.aboutMe_info_textWrap {
  padding: 50px;
  height: 600px;
  color: #607b96;
  height: 100%;
}
.aboutMe_info_texta {
  border-bottom: 3px solid #aeaeae;
  padding-bottom: 10px;
  margin-bottom: 50px;
  font-size: 40px;
  height: auto;
}
.aboutMe_info_text {
  font-size: 20px;
}
@media (max-width: 576px) {
  .aboutMe_info_textWrap {
    padding: 25px;
  }
  .aboutMe_info_texta {
    font-size: 40px;
    font-weight: 450;
  }
  .aboutMe_info_text {
    font-size: 18px;
    font-weight: 450;
    line-height: 150%;
  }
}
@media (max-width: 425px) {
  .aboutMe_info_texta {
    font-size: 32px;
  }
  .aboutMe_info_text {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .aboutMe_info_texta {
    font-size: 26px;
  }
  .aboutMe_info_text {
    font-size: 14px;
  }
}
