.menu {
  position: absolute;
  z-index: 100;
  margin: 0;
  list-style: none;
  padding: 0;
  background: rgba(1, 22, 39, 1);
  width: 100%;
  top: 60px;
  &_ul {
    padding: 0px;
  }
  &_items {
    border-bottom: 1px solid rgba(30, 45, 61, 1);
    display: flex;
    align-items: center;
    padding: 30px 18px;
    font-weight: bold;
    &_link {
      width: 100%;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
    }
  }
}
