.menuItem {
  display: flex;
  color: #607b96;
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px;
  align-items: center;
  text-decoration: none !important;
  cursor: pointer;
  &_icon {
    margin-right: 5px;
  }
  svg {
    stroke: #607b96;
    fill: #607b96;
    color: #607b96;
  }
}
