.app {
  background: rgba(243, 243, 243, 1);
  background: #fff;
  height: 100vh; /* for shorter content */
  width: 100% !important;
  display: flex;
  flex-direction: column;

  &_Dark {
    background-color: #313037;
  }
  &_header {
    height: 50px;
  }
  &_main {
    flex: 1;
  }
  &_footer {
    height: 51px;
  }
}
