.app {
  background: rgba(243, 243, 243, 1);
  background: #fff;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_Dark {
    background-color: #313037;
  }
}
