.proj {
  background-color: rgba(1, 22, 39, 1);
  overflow-y: none;
  padding-top: 70px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  &_wrap {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(1, 22, 39, 1);
}

.proj::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 10px;
  background-color: #aeaeae;
}

.proj::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgba(1, 22, 39, 1);
}
