.footer {
  width: 100%;
  background-color: rgba(1, 22, 39, 1);
  font-weight: 450;
  font-size: 16px;
  border-top: 1px solid #1e2d3d;
  height: 51px;
  &_links {
    color: rgba(96, 123, 150, 1);
    display: flex;
    align-items: center;
    &_text {
      padding: 14.5px 23px 14.5px 22px;
      border-right: 1px solid #1e2d3d;
    }
    &_linkedIn,
    &_instagram {
      border-left: 1px solid #1e2d3d;
      border-right: 1px solid #1e2d3d;
      cursor: default;
      svg {
        color: rgba(96, 123, 150, 0.51);
        cursor: pointer;

        fill: rgba(96, 123, 150, 1);
      }
      display: inline-flex;
      height: 49px;
      padding: 12px 14px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
    }
    &_gitHub {
      margin-left: auto;
      text-decoration: none;
      display: flex;
      align-items: center;
      color: rgba(96, 123, 150, 1);
      padding-left: 22px;
      height: 100%;
      border-left: 1px solid #1e2d3d;
      cursor: pointer;

      &_icon {
        padding: 5px 22px 0px 5px;
      }
      svg {
        color: rgba(96, 123, 150, 0.51);
        cursor: pointer;

        fill: rgba(96, 123, 150, 1);
      }
    }
  }
}
@media (max-width: 2560px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 994px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .footer_links_gitHub {
    padding: 13px 10px 9px 14px;
    border-left: 1px solid #1e2d3d;
    // border-right: 1px solid #1e2d3d;
    cursor: default;
    font-size: 0;
    // margin: 0;
    display: flex;

    align-items: center;
    height: 100%;
    &_icon {
      padding: 0px 0px 4px 0px;
    }
  }
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
  .footer_links_text {
    padding: 14.5px 31px 14.5px 22px;
    border-right: 1px solid #1e2d3d;
  }
}
@media (max-width: 321px) {
  .footer_links_text {
    padding: 14.5px 35.5px 14.5px 22px;
    border-right: 1px solid #1e2d3d;
  }
}
@media (max-width: 320px) {
  .footer_links_text {
    padding: 14.5px 34.5px 14.5px 22px;
    border-right: 1px solid #1e2d3d;
  }
}
